<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="hello">
<div class="container">
    <h1>Greeting</h1>
    <div ng-controller="home" ng-cloak class="ng-cloak">
        Nume: <input ng-model="personDTO.firstName"><br>
        Prenume: <input ng-model="personDTO.lastName"><br>
        Numar masini: <input ng-model="personDTO.numberOfCars"><br>
        Data nasterii: <input ng-model="personDTO.dateOfBirth", type="date"><br>
        <button ng-click="addPerson()">Adauga</button>
    </div>
</div>
<!--<script src="js/angular-bootstrap.js" type="text/javascript"></script>-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/hello.js"></script>
</body>
</html>